certifi==2021.10.8
charset-normalizer==2.0.12
flake8==4.0.1
idna==3.3
mccabe==0.6.1
mypy==0.920
mypy-extensions==0.4.3
pyaes==1.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pyrogram==1.4.8
PySocks==1.7.1
python-dotenv==0.20.0
requests==2.27.1
tomli==2.0.0
typing_extensions==4.0.1
urllib3==1.26.8
